body{
  background-image: url('../images/crystal-background.jpeg');
  
}

.crystals{

  display: flex;
  justify-content:  space-around;
  align-items: center;

}

.crystal{
  border:1px solid green;
  height: 200px;
  width: 200px;
}

#title{
  padding: 2px;
  background: rgb(224, 103, 4);
  height:150px;
  margin: .5em;

}

#gamerules{
  height: 600px;
  background: burlywood;
  margin: .5em;

}
#rando{
  height: 200px;
  background: greenyellow;
  margin: .5em;
  color: black;
  font-size: xx-large;
  
}

#scoreboard{
  height: 200px;
  background: lightseagreen;
  margin: .5em;

}

#totallabel{
  height: 50px;
  background: green;
  color: white; 
  margin: .5em;


}

#totalscore{
  height: 200px;
  background: green;
  color: white; 
  margin: .5em;
}

h1{
  color: white;

}